---
layout: default
title: "News"
description: "Finkelstein Lab News"
group: subnavigation
navorder: 6
---
{% include JB/setup %}

{% assign sorted_news = site.data.news | sort: 'date' | reverse %}
{% assign current_year = 9999 %}

{% capture current_unix_timestamp %}{{ 'now' | date: "%s" }}{% endcapture %}
{% for event in sorted_news %}
  {% assign event_year = event.date | date: "%Y" %}
  {% assign event_timestamp = event.date | date: "%s" %}
  {% unless event_timestamp <= current_unix_timestamp %}
    {% continue %}
  {% endunless %}
 
  {% if event_year != current_year %}
    {% assign current_year = event_year %}
    <div class="bigspacer"></div>
    <div class="row">
      <div class="col-md-3">
        <div class="head">
          {{ event.date | date: "%Y" }}
        </div>
      </div>
    </div>
    <div class="bigspacer"></div>
  {% endif %}
  <div class="row">
    <div class="col-md-8">
      <div class="post">
        {% assign date_txt = event.date | date: "**%m-%d:&nbsp;&nbsp;**" %}
        {{ event.text | prepend: date_txt |  markdownify }}
      </div>
    </div>
  </div>
{% endfor %}
<div class="bigspacer"></div>
