<div class="blog-post">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
    <p class="text-muted">
      <i class="far fa-calendar-alt"></i> {{ page.date | date: "%B %-d, %Y" }}
      {% if page.author %} · <i class="far fa-user"></i> {{ page.author }}{% endif %}
      {% if page.category %} · <span class="label label-default">{{ page.category }}</span>{% endif %}
    </p>
  </div>

  <div class="row">
    <div class="col-md-9">
      <article class="blog-content">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
      <div class="blog-tags">
        <i class="fas fa-tags"></i>
        {% for tag in page.tags %}
          <a href="/blog/tags/#{{ tag | slugify }}" class="label label-info">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}

      <hr>

      <div class="blog-nav">
        {% if page.previous.url %}
        <a class="btn btn-default" href="{{ page.previous.url }}">&larr; {{ page.previous.title | truncate: 40 }}</a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-default pull-right" href="{{ page.next.url }}">{{ page.next.title | truncate: 40 }} &rarr;</a>
        {% endif %}
      </div>

      <!-- Giscus comments -->
      <div id="comments" class="blog-comments" style="margin-top: 2em;">
        {% include blog/giscus.html %}
      </div>

    </div>

    <div class="col-md-3">
      <div class="blog-sidebar">
        <h4>Search</h4>
        <p><a href="/blog/search/"><i class="fas fa-search"></i> Search Posts</a></p>
        
        <h4>Recent Posts</h4>
        <ul class="list-unstyled">
          {% for post in site.categories.blog limit:5 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>

        {% if site.categories.blog.size > 5 %}
        <p><a href="/blog/">View all posts &rarr;</a></p>
        {% endif %}
        
        <h4>Subscribe</h4>
        <p><a href="/blog/feed.xml"><i class="fas fa-rss"></i> RSS Feed</a></p>
      </div>
    </div>
  </div>
</div>
