<!--
Branched from Trevor Bedford's source, https://github.com/blab/blotter/blob/master/_layouts/paper.html
with gratitude.
-->
<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>

<div class="bigspacer"></div>

<article>

<div class="row">

	<div class="col-md-9">
		<div class="media-body titlebox">
			<h1 class="title media-heading" style="margin: 0;">
				{{ page.title }}
			</h1>
			<p>
			<div class="smallhead">
				{{ page.authors }},
				<cite class="journal">
				{{ page.journal }}
				</cite>
				{% if page.volume %}
				 {{ page.volume }}
				{% endif %}
				{% if page.issue %}
				({{ page.issue }})
				{% endif %}
				{% if page.pages %}
				:{{ page.pages }}
				{% endif %}
				(<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.year }}</time>).
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
			{% if page.pdf or page.pdflink or page.fulltext or page.markdown %}
			<div class="smallhead subtle">
				Full text
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				{% if page.pdflink %}
					<i class="far fa-file-pdf fa-fw" aria-hidden="true"></i>
					<a class="off" href="{{ page.pdflink }}">Journal PDF</a>
					<br/>
				{% endif %}
				{% if page.pdf %}
					<i class="far fa-file-pdf fa-fw" aria-hidden="true"></i>
					<a class="off" href="/assets/pdfs/{{ page.pdf }}">PDF</a>
					{% if page.markdown %}
					| <a class="off" href="/assets/md/{{ page.markdown }}/">Full text (md)</a>
					{% endif %}
					<br/>
				{% elsif page.markdown %}
					<i class="far fa-file-alt fa-fw" aria-hidden="true"></i>
					<a class="off" href="/assets/md/{{ page.markdown }}/">Full text (md)</a>
					<br/>
				{% endif %}
				{% if page.fulltext %}
				<i class="fas fa-external-link-alt fa-fw" aria-hidden="true"></i>
				<a class="off" href="{{ page.fulltext }}">Journal HTML</a>
				{% endif %}
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.supplement %}
			<div class="smallhead subtle">
				Supplement
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fas fa-paperclip fa-fw" aria-hidden="true"></i>
				<a class="off" href="/assets/pdfs/{{ page.supplement }}">Supplement</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.pmid %}
			<div class="smallhead subtle">
				Pubmed
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fas fa-external-link-alt fa-fw" aria-hidden="true"></i>
				<a class="off" href="https://pubmed.ncbi.nlm.nih.gov/{{ page.pmid }}/">{{ page.pmid }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}

			{% if page.doi %}
			<div class="smallhead subtle">
				DOI
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fas fa-external-link-alt fa-fw" aria-hidden="true"></i>
				<a class="off" href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a>
				<br>
				<br>
				<div data-badge-popover="right" data-badge-type="medium-donut" data-doi="{{ page.doi }}" data-hide-no-mentions="true" class="altmetric-embed"></div>
			</div>
			<div class="bigspacer"></div>
			{% endif %}

		</div>
	<div class="col-md-8">
		<div class="post">
			{{ content }}
			{% if page.extra_text %}
			<div class="bigspacer"></div>
			{{ page.extra_text | markdownify }}
			{% endif %}
		</div>
	</div>

	<div class="col-md-1"></div>
</div>

</article>

<div class="bigspacer"></div>
