<!-- Giscus Comments -->
<script src="https://giscus.app/client.js"
        data-repo="finkelsteinlab/finkelsteinlab.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNDE5NTE5MDM="
        data-category="Blog Comments"
        data-category-id="DIC_kwDOCHYDn84C2Q2r"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view comments.</noscript>
