  <div class="row">
  <div class="col-md-10 paperbox">
   <div class="media">
      <div class="media-body">
          <div class="smallhead media-heading">
            <b><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></b>
          </div>
              {% assign all = paper.shortref %}

              {% if paper.pdf %}
                {% capture pdf %}&nbsp;&nbsp;&nbsp;&nbsp;<a href="/assets/pdfs/{{ paper.pdf }}">PDF</a>{% endcapture %}
                {% assign all = all | append: pdf %}
              {% endif %}

              {% if paper.supplement %}
                {% capture supplement %}&nbsp;&nbsp;&nbsp;&nbsp;<a href="/assets/pdfs/{{ paper.supplement }}">Supplement</a>{% endcapture %}
                {% assign all = all | append: supplement %}
              {% endif %}

              {% if paper.doi %}
                {% capture doi %}&nbsp;&nbsp;&nbsp;&nbsp;DOI: <a href="https://dx.doi.org/{{ paper.doi }}">{{ paper.doi }}</a> {% endcapture %}
                {% assign all = all | append: doi %}
              {% endif %}
              {{ all | join: "" | markdownify }}

              {% if paper.extra_text %}
                <br>{{ paper.extra_text | markdownify}}
              {% endif %}
              
      </div>
    </div>
  </div>
  </div><div class="bigspacer"></div>
