---
layout: default
title: "Members"
description: ""
group: navigation
navorder: 2
---
{% include JB/setup %}

<script>
$(document).ready(function(){
  $('img').bind('mouseenter mouseleave', function() {
    $(this).attr({
      src: $(this).attr('young-src'), 'young-src': $(this).attr('src')
    })
  });
});


</script>

<div class="bigspacer"></div>
{% for position in site.data.jobtypes %} 
  {% assign people = site.data.members | where: "position", position[0] %} 
  {% assign current_people = '' | split: '' %} 
  {% for person in people %} 
    {% unless person.departed %} 
      {% assign counter = "*" | split: '' | first | split: '' %} 
      {% assign current_people = current_people | concat: counter %} 
    {% endunless %} 
  {% endfor %} 
  {% assign current_count = current_people.size %} 
  {% if current_count == 0 %} 
    {% continue %} 
  {% else %}

    <div class="bigtitle position-title">{{ position[1][1] }}</div>
    <div class="bigspacer"></div>

    {% for person in people %} 
      {% if person.departed %} 
        {% continue %} 
      {% endif %}
      <div class="person">

        <div class="person-image-container">
          <img class="personimage" src="/assets/images/members/{{ person.image }}">
        </div>

        <div class="persondata">
          
          <div class="top-bar">
            <div class="person-name">{{ person.name }}</div>
            <div class="person-joined">Joined: {{ person.joined | date: "%B %Y" }}</div>
          </div>
         
          <div class="bottom-bar">
            <div class="contact-links">
              <a href="mailto:{{ person.email }}">{{ person.email }}</a> 
              {% if person.website %} | <a href="{{ person.website }}">Personal Site</a> {% endif %}              {% if person.CV %} | <a href="{{ person.CV }}">CV</a> {% endif %}
              {% if person.GScholar %} | <a href="{{ person.GScholar }}"><i class="ai ai-google-scholar"></i> Google Scholar</a>{% endif %}
              {% if person.twitter %} | <a href="https://www.twitter.com/{{ person.twitter }}"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>{% endif %}
              {% if person.GitHub %} | <a href="https://www.github.com/{{ person.GitHub }}"><i class="fab fa-github" aria-hidden="true"></i> Github</a>{% endif %}
            </div>

          </div>








        </div>
      </div>

      <div style="float: clear"></div>
    {% endfor %}
  {% endif %}
{% endfor %}

<div class="bigtitle" style="float: clear">Alumni</div>
<div class="bigspacer"></div>

<table>
<tr>
  <th width="2%">Name</th>
  <th width="1%">Position</th>
  <th width="1%">Dates</th>
  <th width="5%">Last Whereabouts</th>
</tr>

{% for member in site.data.members %}
  {% unless member.departed %}
    {% continue %}
  {% endunless %}
<tr>
  <td>{{ member.name }}</td>
  <td>{{ site.data.jobtypes[member.position][0] }}</td>
  <td>{{ member.joined | date: "%b %y" }} - {{ member.departed | date: "%b %y" }}</td>
  <td>{{ member.whereabouts }}</td>
</tr>
{% endfor %}
</table>

<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>
