---
layout: default
title: "Members"
description: ""
group: navigation
navorder: 2
---
{% include JB/setup %}

<script>
$(document).ready(function(){
  $('img').bind('mouseenter mouseleave', function() {
    $(this).attr({
      src: $(this).attr('young-src'), 'young-src': $(this).attr('src')
    })
  });
});


</script>

<div class="bigspacer"></div>
{% for position in site.data.jobtypes %}
  {% assign people = site.data.members | where: "position", position[0] %}
  {% assign current_people = '' | split: '' %}
  {% for person in people %}
    {% unless person.departed %}
      {% assign controllerName = "*" | split: '' | first | split: '' %}
      {% assign current_people = current_people | concat: controllerName %}
    {% endunless %}
  {% endfor %}
  {% assign current_count = current_people.size %}
  {% if current_count == 0 %}
    {% continue %}
  {% else %}
    <div class="bigtitle">{{ position[1][1] }}</div>
    <div class="bigspacer"></div>
    <table cellpadding="2" width="200%">

    {% for person in people %}
      {% if person.departed %}
        {% continue %}
      {% endif %}
      <tr>
        <td rowspan="3" valign="top" width="200px">
          <img young-src="/assets/images/members/{{ person.young_image }}" src="/assets/images/members/{{ person.image }}" width="200" height="200">
        </td>
        <td valign="top">
          <h4>{{ person.name }}</h4>
        </td>
          <td align="right">Since: <b>{{ person.joined | date: "%b %Y"}}</b></td>
      </tr>

      <tr>
        <td colspan="1" align="left" valign="top">
          (<a href="mailto:{{ person.email }}">{{ person.email }}</a>
          {% if person.website %} | <a href="{{ person.website }}">Personal Site</a> {%endif%})
        <td>
      <tr>
        <td>
          <i>{{ person.quote }}</i> - {{ person.quote_author }}
	</td>
      </tr>
      <tr>
        <td></td>
	<td colspan="2">
          <b>Favorite Austin Activities:</b>
          <ul>
            {% for activity in person.favorite_activities %}
              <li>{{ activity }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
	</tr>
    {% endfor %}
   </table>
  {% endif %}
{% endfor %}

<div class="bigtitle">Alumni</div>
<div class="bigspacer"></div>

<table>
<tr>
  <th width="2%">Name</th>
  <th width="1%">Position</th>
  <th width="1%">Dates</th>
  <th width="5%">Last Whereabouts</th>
</tr>

{% for member in site.data.members %}
  {% unless member.departed %}
    {% continue %}
  {% endunless %}
<tr>
  <td>{{ member.name }}</td>
  <td>{{ site.data.jobtypes[member.position][0] }}</td>
  <td>{{ member.joined | date: "%b %y" }} - {{ member.departed | date: "%b %y" }}</td>
  <td>{{ member.whereabouts }}</td>
</tr>
{% endfor %}
</table>

<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>
