---
layout: default
---

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-9">
		<div class="media-body titlebox">
			<div class="title media-heading">
				{{ page.title }}
			</div>
			<p>
			<div class="smallhead">
				<a class="off" href="/news/">&larr; Back to news</a>
				{% if page.source_url %}
				&middot; <a class="off" href="{{ page.source_url }}">Original source</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="post">
			{{ content }}
		</div>
	</div>
</div>

<div class="bigspacer"></div>
